* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 100px;
}

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 100px;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.61);
	border-radius: 100px;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #000;
}

body input:required:valid,
body textarea:required:valid {
	color: #000;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	height: 100%;
	line-height: 1;
	font-weight: 500;
	background: #fafafa;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
:root {
	--color_black: #252b42;
	--color_grey: #737373;
	--color_orange: #ff7b47;
	--color_orange-hover: #ff7037;
	--color_green: #0d5c63;
	--color_bgc: #17213c;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1076px;
	padding: 0 15px;
	margin: 0 auto;
}
.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* header */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	min-height: 104px;
	align-items: center;
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin-left: 133px;
	padding-top: 5px;
}
.menu {
}
.menu__list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
	/* margin-right: 21px; */
}
.menu__item:not(:last-child) {
	margin-right: 21px;
}
.menu__link {
	font-weight: 600;
	font-size: 14px;
	/* line-height: 24px;  24px/14px(fz)*100 */
	line-height: 171%;
	text-align: center;
	letter-spacing: 0.2px;
	color: var(--color_grey);
	transition: all 0.4s ease;
}
.menu__link:hover {
	color: var(--color_green);
}

/*----------- page ----------------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;
	margin-top: -111px;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients {
	margin-bottom: 10px;
}
.page__subscribe {
}
.page__getintouch {
	margin-bottom: 68px;
}
.page__contact {
}

/*----------- header-block ------------------------------------*/
.header-block {
	text-align: center;
}
.header-block__tittle {
	font-weight: 700;
	font-size: 40px;
	padding-bottom: 10px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: var(--color_black);
}
.header-block__sub-tittle {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	text-align: center;
	color: var(--color_grey);
}
/*----------- main-block ---------------------------------------*/
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	padding-top: 184px;
	padding-bottom: 191px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
.main-block__body > *:not(:last-child) {
	margin-bottom: 35px;
}
.main-block__tittle {
	font-weight: 800;
	font-size: 58px;
	line-height: 138%;
	letter-spacing: 0.2px;
	color: var(--color_black);
}
.main-block__sub-tittle {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.2px;
	color: var(--color_grey);
}
.main-block__btns {
	display: inline-flex;
	flex-wrap: wrap;
}
.main-block__btn {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	padding: 5px 36px;
	width: 185px;
	height: 48px;
	line-height: 150%;
	border-radius: 37px;
}
.orange {
	background: var(--color_orange);
	color: #fff;
	margin-right: 10px;
	transition: all 0.4s ease;
}
.orange:hover {
	background-color: var(--color_orange-hover);
}
.green {
	border: 1px solid var(--color_green);
	color: var(--color_green);
	border-radius: 37px;
	transition: all 0.4s ease;
}
.green:hover {
	color: #fff;
	background-color: var(--color_green);
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*----------- services -------------------------------------------*/
.services {
}
.services__container {
}
.services__body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	margin: 0 -15px;
}
.services__column {
	padding: 0 15px;
	flex: 0 1 33.333%;
}
.services__item {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 35px;
	background: #fff;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.item-service__icon {
}
.item-service__tittle {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: var(--color_black);
}
.item-service__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: var(--color_grey);
}
.item-service__right {
	background-color: var(--color_green);
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.right {
	color: #fff;
}
/*----------- advantages -----------------------------*/
.advantages {
	padding: 80px 0;
}
.advantages__container {
}
.advantages__header {
	margin-bottom: 50px;
}
.advantages__body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.advantages__column {
	padding: 0 15px;
	flex: 0 1 25%;
}
.advantages__item {
	background-color: #fff;
	padding: 30px;
	text-align: center;
}
.advantages__item:not(:last-child) {
	margin-bottom: 10px;
}
.advantages__icon {
	height: 48px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: var(--color_black);
}
.advantages__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.1px;
	color: var(--color_grey);
}

/*----------- practice ----------------------------------------*/
.practice {
	padding: 80px 0;
}
.practice__container {
}
.practice__header {
	margin-bottom: 45px;
}
.practice__body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.practice__column {
	padding: 0 15px;
	flex: 0 1 25%;
}
.practice__item {
	height: 341px;
	background-color: #fff;
	text-align: center;
	align-items: center;
}
.card {
	padding: 30px;
}
.practice__tittle > h5 {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
	color: var(--color_black);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	text-align: start;
	padding-bottom: 15px;
}
.practice__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: var(--color_grey);
	display: flex;
	text-align: start;
}
.practice__icon > img {
	height: 138px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	align-items: flex-end;
}

/*----------- whoweare ----------------------------------------*/
.bgc {
	background-color: #fff;
}
.whoweare {
	padding: 100px 0;
}
.whoweare__container {
	margin-bottom: 100px;
}
.whoweare__header {
	margin: 100px;
}
.whoweare__body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	margin: 0 -15px;
	padding: 0 15px;
}
.whoweare__video {
	width: 600px;
	height: 442px;
}
.whoweare__video iframe {
	max-width: 100%;
	max-height: 100%;
}
.whoweare__column {
	padding-left: 120px;
	flex: 0 1 50%;
}
.whoweare__item {
}
.whoweare__item-contents {
}
.card__content {
	padding: 20px 0;
}
.card__content-tittle {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: var(--color_black);
}
.card__content-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: var(--color_grey);
}
.whoweare__item-icons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	margin-top: 30px;
}
.item__card {
}
.card__icons-logo {
}
.card__icons-tittle {
	margin-left: 20px;
}
.card__icons-subtittle {
	margin-top: 5px;
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	color: var(--color_grey);
}

/*----------- clients ----------------------------------------*/

.clients {
	padding: 58px 0;
}
.clients__container {
}
.clients__items {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
}
.clients__item {
	padding: 8 15px;
	flex: 0 1 16.6667%;
	text-align: center;
}
.clients__item img {
	max-width: 100%;
}
.subscribe {
	position: relative;
	padding-bottom: 20px;
}
.subscribe::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 77px;
	background: var(--color_black);
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	margin: 0 30px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	padding: 30px 50px;
	align-items: center;
	background: var(--color_bgc);
	border-radius: 2px;
	flex-wrap: wrap;
}
.subscribe__tittle {
	max-width: 266px;
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: #fff;
}
.subscribe__form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex: 0 1 50%;
	align-items: center;
}
.subscribe__input {
	width: 100%;
	padding: 0 20px;
	flex: 1 1 auto;
	font-weight: 400;
	font-size: 14px;
	line-height: 200%;
	letter-spacing: 0.2px;
	background: #f9f9f9;
	min-height: 58px;
	border-right: 0;
	border: none;
	box-sizing: border-box;
	color: var(--color_grey);
}
.subscribe__input :focus {
	color: #000;
}
.subscribe__button {
	padding: 0 22px;
	min-height: 58px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: var(--color_orange);
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	transition: all 0.4s ease;
}
.subscribe__button:hover {
	background-color: var(--color_orange-hover);
}
.getintouch {
}
.getintouch__container {
}
.getintouch__header {
	padding: 80px 93px;
}

.getintouch__body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	margin: 0 15px;
	flex-wrap: wrap;
}
.getintouch__column {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding: 50px 40px;
	margin: 30px 0;
	flex: 1 1 33%;
	background-color: #fff;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.getintouch__column *:not(:last-child) {
	margin-bottom: 15px;
}
.getintouch__column-logo {
}
.getintouch__column-email {
}
.email__link {
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	text-align: center;
	letter-spacing: 0.2px;
	color: var(--color_black);
}
.getintouch__column-support {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.1px;
	color: var(--color_black);
}
.support__link {
	color: var(--color_black);
}
.getintouch__column-button {
}
.__button {
	width: 160px;
	height: 44px;
	align-items: center;
	padding: 10px 20px;
	border-radius: 5px;
	transition: all 0.4s ease;
}
.__button:hover {
	background-color: var(--color_orange);
	color: #fff;
	border: 1px solid #ff7b47;
}
.__button-orange {
	border: 1px solid #ff7b47;
}
/* getintouch__column-bgcblue */
.getintouch__column-bgcblue {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: 1 1 33%;
	padding: 80px 40px;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: var(--color_bgc);
}
.getintouch__column-bgcblue *:not(:last-child) {
	margin-bottom: 15px;
}
.c-white {
	color: #fff;
}
.btn__white {
	border: 1px solid #fff;
	border-radius: 5px;
}
.btn__white-white {
	background-color: inherit;
	/* color: #fff; */
}

.contact {
	background-color: #fff;
	padding: 42px 0;
}
.contact__container {
}

.contact__content {
	padding-bottom: 20px;
}
.contact__tittle {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
	color: var(--color_black);
}
.contact__tittle:not(:last-child) {
	margin-bottom: 10px;
}
.contact__sub-tittle {
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: var(--color_grey);
}
.contact__button {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	min-height: 58px;
	background: var(--color_orange);
	border-radius: 5px;
	padding: 15px 40px;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #fff;
	transition: all 0.4s ease;
}
.contact__button:hover {
	background-color: var(--color_orange-hover);
}
/* -------footer-------- */
.footer {
}
.foooter__top {
	height: 272px;
	background: var(--color_bgc);
}
.footer__main {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;Ñ‡
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 15px;
	flex: 1 1 20%;
}
.footer__main *:not(:last-child) {
	margin-right: 30px;
}
.footer__column * {
	color: #fff;
}
.footer__label {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}
.footer__menu {
}

/* -------- */
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	/* justify-content: center; */
}
.menu-footer__item:not(:last-child) {
	margin-bottom: 10px;
}
.footer__item-logo {
}
.menu-footer__link {
}
/* ----------- */
.footer__contacts {
}
.contacts-footer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
.contacts-footer *:not(:last-child) {x
	/* margin-bottom: 10px; */
}
.contacts-footer__item {
	margin-left: -15px;
	font-weight: 600;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.2px;
	color: #ffffff;
}
.contacts-footer__item img {
	width: 100%;
}
.contacts-footer__item_phone {
}
.contacts-footer__item_map {
}
.contacts-footer__item_email {
}
.foooter__bottom {
}
.footer__container {
}
.foooter__copu {
}
.foooter__social {
}
/* --------- */
.social {
}
.social__item {
}
/* ------- */
.foooter

		&__bottom

		&__copu


		&__social


.footer

		&__container


.container

.social

		&__item


